<header>
    <div class="container">
        <h1>Angular Training</h1>
        <h2 *ngIf="assignmentNumber">Assignment {{ assignmentNumber }}</h2>
        <h2 *ngIf="sectionNumber && lectureNumber">Section {{ sectionNumber }}, Lecture: {{ lectureNumber }}</h2>
    </div>
</header>
<div class="container">
</div>
<footer>
    <div class="container">
        <p>
            By Sagar Patel
        </p>
    </div>
</footer>